*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    height: 100px;
}

.avatar img{
    height: 200px;
    width: 200px;

}

.menu{
    display: flex;
}

ul{
    list-style: none;
}

.green, li > .btn.btn-light{
    background-color: #1abc9c;
}

.grey{
    background-color: #3a546d;
}

.darkgrey{
    background-color: #2c3e50;
}

.green, .grey, .darkgrey, li > .btn.btn-light{
    color: white;
}

.card > img{
    border-radius: 5%;
    padding: 10px;
}


.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.border {
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
}

.margin-top{
    margin-top: 100px;
}